* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
}

.container {
  display: flex;
  background: #ccc;
  width: 100%;
}

.container__filters {
  width: 20%;
  background-color: aqua;
  padding: 2.5rem;
}

.container__filters__checkbox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container__filters__checkbox h4 {
  margin-top: 1rem;
}

.container__filters__checkbox input {
  margin-right: 0.5rem;
}

.container__course-list {
  padding: 2.5rem;
  width: 80%;
}

.course-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
  width: 100%;
  margin-top: 1rem;
}
