/* 
    Improvements: fix shifting of paragraphs inside divs when breaking into more lines
                  margin down not working in cardDescription
*/
main {
    margin: 0 4%;
}

.courseCard {
    width: 350px;
    margin: 2%;
    /* height: 20%; */
}

.courseCard .courseBanner {
    width: 100%;
    height: auto;
}

.courseCard .courseBanner img {
    /* display block removes the small empty line after the img */
    display: block;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.courseCard .cardDescription {
    border-radius: 0 0 20px 20px;
    background-color: #E3E1E9;
    padding: 4% 4%;
}

.courseCard .cardDescription .container {
    margin: 0 8%;
}

.courseCard .cardDescription .container p {
    margin: 0 0 16px 0;
    width: 100%;
    font-size: 16pt;
}

.courseLine {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1%;
}

