* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----Header---- */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f1f1f1;
}

/* logo */
.logo img {
  width: 3.5rem;
}
/* all buttons in header */
button {
  padding: 0.5rem 1.2rem;
}
/* ! still needs some modifications */
/* arrow in explore btn */
header .explore {
  display: flex;
  margin-left: 1rem;
}
header .explore span {
  gap: 1rem;
}
header .explore img {
  position: absolute;
  width: 0.8rem;
}
/* search bar */
.search input {
  padding: 0.2rem 1.2rem;
}

/* ----Footer---- */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: antiquewhite;
}

/* social media icons */
footer a img {
  margin: 1rem 0.5rem;
  width: 1.8rem;
}

/* copyright text */
footer .copyright {
  margin-bottom: 1rem;
}
