.navBar {
  background-color: #e3e1e9;
  /* background-color: black; */
  padding: 10px 10px;
  margin: -9px -9px;
}

/* .profile {} */

.course_background {
  background-color: #d8cee1;
  padding-top: 30px;
  padding-left: 30px;
  margin: 10px -10px;
  border-radius: 1%;
}
.course_label {
  padding-left: 10px;
}

.course_background div {
  display: flex;
}

.course_background hr {
  border-width: 10px;
}

.course_properties {
  height: 200px;
  width: 200px;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 10px;
}

.course_properties .course_properties_r2 {
  width: 100%;
  height: 40%;
  padding: 10px;
}

.course_properties_r2 div {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.course_properties_r2 div p {
  margin: 0;
}
#ProfileLogo {
  width: 50%;
  border-radius: 90%;
}

#catageoryLogo {
  width: 50px;
  height: 50px;
  border-radius: 40%;
}

#wishListLogo {
  width: 50px;
  width: 50px;
  border-radius: 40%;
}

.course_background h4 {
  font-size: 30px;
  height: 20%;
  width: 50%;
  text-align: center;
  margin: 0;
  padding: 30px 0px;
}

.course_background .img {
  width: 700px;
  display: inl;
}

.course_background h3 {
  font-size: 40px;
  color: #0d0850;
  width: 100%;
}
.course_description {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
}
.course_description_lables_container {
  width: 100%;
  overflow: hidden;
}
.course_description_lables_container p {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}
.course_description_lables p {
  margin: 2px;
  font-size: 25px;
}

.buttons {
  justify-self: center;
}

.buttons .button1 {
  color: #0d0850;
  background-color: #d8cee1;
  font-size: 30px;
  width: 200px;
  height: 55px;
  text-align: center;
  padding: 10px;
  display: block;
  border-radius: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
}

.buttons .button2 {
  color: #0d0850;
  background-color: #d8cee1;
  font-size: 30px;
  width: 200px;
  height: 55px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.course_episodes {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  overflow: auto;
}

.course_elements {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.course_episodes_bar {
  padding-bottom: 10px;
  text-align: center;
  display: flex;
  height: 30px;
  width: 100%;
}

#episode_number {
  margin-top: 1px;
  font-size: 20px;
  width: 10%;
}

#episode_label {
  margin-top: 1px;
  padding-top: 2px;
  display: block;
  width: 100%;
}

.course_episodes_bar .inner {
  width: 10%;
  justify-content: center;
}
.course_episodes_bar div {
  width: 100%;
}
@media (max-width: 1250px) {
  .course_elements {
    flex-direction: column;
    align-items: center;
  }
  .course_image {
    margin-bottom: 30px;
  }
  .course_properties {
    margin-bottom: 30px;
  }
  .course_episodes {
    margin-bottom: 30px;
  }
  .course_label {
    text-align: center;
  }
  .course_episodes {
    width: 600px;
    font-size: 23px;
  }
}
