@import url(./button.css);
@import url(./menu.css);
@import url(./search-form.css);
@import url(./menu.css);

.header {
}

.header__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: antiquewhite;
}

.header__humburger-toggle {
}

.header__hamburger-icon {
}

.header__close-icon {
}

.header__logo-wrapper {

}

.header__logo {
    position: relative;
    width: 3.5rem;
}

.header__auth-buttons {
}
