<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/core/global.css" />
    <link rel="stylesheet" href="/styles/fonts/poppins.css" />
    <link rel="stylesheet" href="/assets/fontawesome/css/all.css" />
    <link rel="stylesheet" href="/styles/header-footer.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="hamburger" id="hamburger">
          <i class="fa fa-bars"></i>
          <i class="fa fa-close"></i>
        </div>
        <div class="logo">
          <a href="/index.html"
            ><img src="/assets/icons/figma-cons/PhaseUp Logo.svg" alt="logo"
          /></a>
        </div>
        <div class="explore">
          <!-- ! needs some modification -->
          <button>
            <span>Explore</span>
            <img src="/assets/icons/angle-down-solid.svg" />
          </button>
        </div>
        <form action="" class="search">
          <div class="search-box">
            <input
              type="text"
              name="search"
              placeholder="Looking for something?"
              class="search-input"
              id="search"
            />
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <!-- <div class="search-result">
                <ul>
                  <li>Javascript</li>
                  <li>Javascript</li>
                </ul>
              </div> -->
        </form>
        <div class="auth">
          <a href="/pages/login.html" class="login">Login</a>
          <a href="/pages/signup.html" class="signup">Sign up</a>
          <!-- <button class="login">Login</button> -->
          <!-- <button class="signup">Sign up</button> -->
        </div>

        <!-- ----Hamberger Menu---- -->
      </div>
      <div class="menu" id="menu">
        <ul>
          <li><a href="/pages/login.html" class="element">Log in</a></li>
          <li><a href="/pages/signup.html" class="element">Sign up</a></li>
          <li class="section"><span>Most popular</span></li>
          <li><a href="#" class="element">Business</a></li>
          <li><a href="#" class="element">Software</a></li>
        </ul>
      </div>
    </header>
  </body>
</html>
